<section class="container">
  <div class="product-info__block">
    <div>
      The {{ product.title }} is constantly giving our customers amazing results. See for yourslef.
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "User Real Result",
    "settings": [],
    "presets": [
      {
        "name": "User Real Result"
      }
    ]
  }
{% endschema %}