
{% assign users = product.metafields.custom.user_result_list.value %}
{% assign show_section = false %}

{% for user in users %}
  {% if user.user_image %}
    {% assign show_section = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if show_section %}
<section class="container">
  <div class="product-info__block space-y-6">
    <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
      <div class="result-text flex flex-col justify-center">
        <h1 class="product-title h3">Real Results</h1>
        The {{ product.title }} is constantly giving our customers amazing results. See for yourself.
      </div>
      {% for user in users %}
        <div class="">
          {% if user.user_image %}
            <img
              src="{{ user.user_image | image_url: width: 300 }}"
              alt="{{ user.user_name | escape }}"
              class="mx-auto mb-4 rounded-full w-24 h-24 object-cover"
              style="width:100%"
            >
          {% endif %}
          <p class="text-xl">
            {{ user.user_name }}
            <span class="text-lg" style="color:#008752">- Verified Buyer</span>
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "User Real Result",
  "settings": [],
  "presets": [
    {
      "name": "User Real Result"
    }
  ]
}
{% endschema %}
