<section class="product-info__block product-info__block--title" {{ block.shopify_attributes }}>
  <h1 class="product-title h2">{{ product.title | escape }}</h1>
</section>

{% schema %}
{
  "name": "Ingredients Section",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}

