<section class="container">
  <div class="product-info__block space-y-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
      {% assign users = product.metafields.custom.user_result_list.value %}
      <div>The {{ product.title }} is constantly giving our customers amazing results. See for yourself.</div>
      {% for user in users %}
        <div class="">
          {% if user.user_image %}
            <img
              src="{{ user.user_image | image_url: width: 300 }}"
              alt="{{ user.user_name | escape }}"
              class="mx-auto mb-4 rounded-full w-24 h-24 object-cover"
            >
          {% endif %}
          <p class="text-lg">{{ user.user_name }} <span>- Verified Buyer</span></p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "User Real Result",
  "settings": [],
  "presets": [
    {
      "name": "User Real Result"
    }
  ]
}
{% endschema %}
