<div class="section section--page-width">
  <div class="reading-width rte" data-cc-animate data-cc-animate-delay="0.2s">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page",
  "class": "cc-main-page"
}
{% endschema %}
