:root {
  --h2_size: 32px;
  --body_font_size1: 16px;
  --body_font_size2: 18px;
  --body_font_size3: 20px;
  --font_bold: 700;
  --font-semibold: 500;
  --grid-gap: 40px;
  --green: #008752;
  --blue: #0061b3;
}

h2,
h3 {
  text-transform: capitalize;
}

/* Override variables for mobile screens */
@media (max-width: 768px) {
  :root {
    --h2_size: 24px;
    --grid-gap: 15px;
  }
}

.btn {
  font-weight: 500;
  font-size: 18px;
  padding: 12px 40px;
  text-wrap-mode: nowrap;
}

/* app announcement start */
#fsb_message {
  font-weight: var(--font_bold);
}

/* app announcement end */

/* header */
.scrolled-down .logo__default-image {
  max-height: 55px !important;
}

.scrolled-down .header {
  @media screen and (min-width: 768px) {
    margin-top: 15px;

    .header-icons__item {
      width: 32px;
      height: 32px;

      svg {
        width: 32px;
        height: 32px;
      }

      &#cart-icon {
        width: 29px;
        height: 29px;

        svg {
          width: 29px;
          height: 29px;
        }
      }
    }
  }
}

.header {
  padding-top: 5px;
  padding-bottom: 5px;
  .header__menus-container {
    a {
      text-decoration: none;

      &:after {
        display: none;
      }
    }
  }

  .logo {
    @media screen and (max-width: 767px) {
      .logo__default-image {
        max-height: 100px;
      }
    }
  }

  .header-icons {
    gap: 20px;
    margin-inline-end: 0;

    .header-icons__item {
      padding: 0;
      transition: 0.2s all linear;

      svg {
        transition: 0.2s all linear;
      }
    }

    @media screen and (max-width: 767px) {
      gap: 7px;

      .header-icons__item {
        width: 32px;
        height: 32px;

        svg {
          width: 32px;
          height: 32px;
        }

        &#cart-icon {
          width: 29px;
          height: 29px;

          svg {
            width: 29px;
            height: 29px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;

    .header__layout::before {
      height: calc(100% + 15px * 2);
    }
  }

  .main-menu-wrapper:has(menu-drawer[aria-hidden="false"]) {
    & summary {
      position: absolute;
      top: 12px;
      left: -6px;

      @media screen and (max-width: 767px) {
        top: 0px;
        left: 9px;
      }
    }
  }
}

/* image-banner start */
.image-banner {
  @media screen and (max-width: 767px) {
    min-height: 650px;

    > div:last-child {
      margin-top: -100px;
    }
  }

  .text-overlay {
    max-width: 440px;

    h1.text-overlay__heading {
      color: #fff !important;
      font-size: 36px;
    }

    @media screen and (min-width: 767px) {
      .text-overlay__block {
        p {
          font-size: var(--body_font_size2);
        }
      }
    }

    @media screen and (max-width: 767px) {
      h1.text-overlay__heading {
        font-size: 28px;
      }

      margin-top: 15px !important;
    }
  }
}

/* image-banner end */

/* text with icon slider start */
.text-with-icon {
  position: relative;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 1275px;
    margin: auto;

    > div {
      width: 33.33%;
    }

    &:has(.slick-list) > div {
      width: 100%;
    }

    .col {
      display: flex !important;
      align-items: center !important;
      min-height: 50px;
      justify-content: center;
      gap: 15px;
      padding: 0 10px;
      @media screen and (max-width: 1100px) {
        padding: 0 20px;
      }

      .image {
        svg {
          color: #898989;
        }
      }

      .text {
        .title {
          font-size: var(--body_font_size3);
          margin-bottom: 5px;
          line-height: normal;

          & + p {
            font-size: var(--body_font_size1);
            margin-bottom: 0;
            line-height: normal;
          }
        }
      }
    }
  }
}

/* text with icon slider end */

/* custom-row-grid-wrapper start */
.custom-row-grid-wrapper {
  h2 {
    font-size: var(--h2_size);
    text-align: center;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      padding-top: 10px;
    }
  }

  .custom-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);

    h4 {
      font-size: var(--body_font_size3);
      font-weight: var(--font-semibold);
      text-transform: capitalize;
      margin-top: 10px;
      position: relative;
      padding: 0 15px;

      &:after {
        content: url("https://cdn.shopify.com/s/files/1/2240/3649/files/Arrow_1.png?v=1750662457");
        position: absolute;
        right: 15px;
      }
    }

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px 8px;

      h4 {
        padding: 0;
        text-align: center;

        &:after {
          display: none;
        }
      }
    }

    @media screen and (max-width: 767px) {
      gap: 8px 16px;
    }
  }
}

/* custom-row-grid-wrapper end */

/* media with text */

/* Style for the custom dots */
.media-with-text {
  .media-with-text__media {
    .slick-dots {
      position: absolute;
      bottom: 15px;
      width: 100%;
      text-align: center;
    }

    .slick-dots li {
      display: inline-block;
      margin: 0 5px;
    }

    .slick-dots .dot {
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      @media screen and (max-width: 767px) {
        width: 15px;
        height: 15px;
      }
    }

    .slick-dots .slick-active .dot {
      background-color: var(--blue);
      /* Active dot color */
    }
  }

  .media-with-text__text {
    h2 {
      font-size: var(--h2_size);
      line-height: normal;
    }

    p {
      font-size: var(--body_font_size2);
    }

    &.max-w-prose {
      max-width: 100%;
    }

    @media screen and (max-width: 767px) {
      text-align: left;
    }
  }

  @media screen and (min-width: 1200px) {
    display: grid;
  }
}

/* testimonial grid slider */
.testimonials-grid-wrapper {
  p {
    margin: 0;
  }

  h2 {
    font-size: var(--h2_size);
    text-align: center;
  }

  .testimonial-grid {
    .slick-list {
      max-width: 90%;
      margin: auto;
    }

    .testimonial-card {
      padding: 0 25px;

      .testimonial-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7px;
        margin: 12px 0;
        flex-wrap: wrap;

        .rating__stars {
          font-size: 32px;

          & + p {
            font-size: 20px;
          }
        }
      }

      .testimonial-content {
        text-align: center;
        font-size: var(--body_font_size2);
      }

      @media screen and (max-width: 767px) {
        padding: 0 15px;
      }
    }

    .previousArrow {
      position: absolute;
      top: 50%;
      left: 0;

      svg {
        transform: rotate(180deg);

        @media screen and (max-width: 767px) {
          width: 20px;
        }
      }
    }

    .nextArrow {
      position: absolute;
      top: 50%;
      right: 0;

      svg {
        @media screen and (max-width: 767px) {
          width: 20px;
        }
      }
    }
  }
}

/* multi-column start */
.multi-column {
  @media screen and (max-width: 767px) {
    padding-top: 0;
  }

  .container {
    > ul {
      gap: 8px;

      @media screen and (max-width: 767px) {
        gap: 16px;
      }
    }
  }

  .card {
    .card__info {
      h3 {
        font-size: var(--h2_size);
      }

      div {
        & > p {
          font-size: var(--body_font_size2);
        }
      }

      .multi-column-btn-wrapper {
        width: 100%;

        #contact_form {
          .form__field {
            margin: 0;

            .input-with-button {
              input {
                margin-right: 0;
              }

              @media screen and (max-width: 767px) {
                display: flex;

                button {
                  margin: 0;
                  padding-left: 0px;
                  padding-right: 0px;
                  max-width: 110px;
                }
              }
            }
          }
        }
      }

      @media screen and (min-width: 1100px) {
        padding: 30px 50px;
      }
    }
  }
}

/* footer start */
.footer {
  border: none !important;

  .footer__main {
    border-top: 1px solid rgba(var(--text-color) / 0.15);
    display: grid;
    grid-template-columns: 1.2fr 2fr 1.5fr 1.2fr;
    padding: 25px 0;
    font-size: var(--body_font_size1);
    color: #000;

    .footer-block__image {
      .social {
        margin: 0;

        .social__link {
          padding: 0;
          width: 34px;
          height: 34px;
        }
      }

      @media screen and (max-width: 767px) {
        max-width: 100px !important;
      }
    }

    .address-block {
      > p {
        margin-bottom: 12px;
      }

      .address-lines {
        p {
          margin-bottom: 0;
        }
      }
    }

    & .footer-block:not(:first-child) {
      padding-top: 30px;
    }

    .footer-menu__item {
      margin-top: 8px;
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 15px;

      & .footer-block:last-child {
        padding-left: 40px;
      }
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 0;

      & .footer-block.footer-block--links {
        padding-left: 35px !important;
        padding-top: 15px;
      }
    }
  }

  .lower-footer {
    border: none;
    padding-top: 10px;

    .container:has(.payment-methods) {
      flex-direction: column;
      gap: 10px;

      > div {
        width: fit-content;
      }

      @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;

        * {
          margin: 0;
        }
      }
    }
  }
}
.banner{
  .banner__text{
    text-align: center;
    h1{
      font-size: 28px;
    }
  }
  @media(min-width:766px){
     .banner__text{
       text-align: left;
    h1{
      font-size: 36px;
    }
  }
  }
}
.results-header{
  .results-header__sortby{
    #sort-by{
      color: #000;
    }
  }
}
.product-list {
  .card {
    .card__media {
    border: 1px solid #e1e1e1;
box-shadow: 0 0 2px rgba(225, 225, 225, 0.8);

    }
  }
  .card:last-child {
    background: #F6F6F6;
    .card__info{
      .card__title{
        font-size: var(--body_font_size2);
        line-height: normal;
        font-family: Montserrat;
      }
      .price{
        font-size: var(--body_font_size2);
      }
      .card__rating{
        font-size: var(--body_font_size2);
        .rating__stars{
          font-size: 26px;
        }
      }
    }
    .Treats-Text {
      padding: 8px 0;
      background-color: #0087524d;
      text-transform: uppercase;
      font-weight:600;
      font-family: Montserrat;
    }
    .Short-Excerpt {
      color: #8a8a8a;
      font-size: var(--body_font_size1);
    }
  }
}
